<div class="jumbotron">
  <h1 class="display-4">Welcome to MyBasecamp</h1>
  <p class="lead">Get it together and manage projects the right way.</p>
  <hr class="my-4">
  <p>Create Basecamp projects for everything you're working on.</p>
  <%= link_to 'Proceed', controller: 'users'%>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
</div>