// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn {
  height: 40px;
  margin-top: 30px;
}
.card {
  margin-top: 20px;
}
.c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
