// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn {
  height: 40px;
  margin-top: 30px;
}
.card {
  margin-top: 20px;
}
.c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.alld {
  display: flex;
}
.img {
  display: flex;
  flex-flow: row wrap;
  img {
    width: 200px;
  }
}
.bt {
  width: 50px;
}
